#!/usr/bin/env bash
set -e

if ! [ -x "$(command -v pacman)" ] ; then
   exit 0
fi

echo "Installing packages, need root password"
sudo pacman -Sy
{{range $pkg := .packages.arch.pacman}}
if ! pacman -Q {{ . | quote }} &> /dev/null; then
   sudo pacman -S {{ . | quote }} --noconfirm
fi
{{end}}

if ! [ -x "$(command -v paru)" ] ; then
   # TODO: install paru
   exit 0
fi

{{range $pkg := .packages.arch.paru}}
if ! paru -Q {{ . | quote }} &> /dev/null; then
   paru -S {{ . | quote }} --noconfirm
fi
{{end}}
